.App {
  text-align: center;
  margin: 0 auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 100;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* =============================================================================== */
.header {
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 3;
  position: fixed;
  background: rgba(38, 37, 37, 1);
}

.header-link {
  width: 150px;
  display: inline-block;
  text-decoration: none;
  color: white;
}
/* =============================================================================== */
.hero {
  margin-top: 60px;
  width: 100%;
  height: 800px;
  background: url('https://images.unsplash.com/photo-1551029506-0807df4e2031?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjI4NTMwfQ') no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
}

.hero-text {
  top: calc(100%/2 - 10%);
  left: calc(100%/2 - 26%);
  font-size: 68px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 700;
  font-style: italic;
  position: absolute;
  color: rgba(0, 0, 0, 0.7);
}

/* =============================================================================== */
.centered-search-bar {
  top: 0;
    margin-top: 60px;
    position: fixed;
    z-index: 3;
}

.centered-search-input {
  padding-left: 15%;
  margin-left: 23%;
  width: 555px;
  height: 50px;
  line-height: 45px;
  padding: 0 5px;
  border: none;
  background-color: transparent;
  font-size: 14px;
  border-radius: 45px;
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.75);
}

.search-form {
  top: 0;
  width: 100vw;
  height: 75px;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  background: rgba(0, 0, 0, 0.7);
  /* position: fixed; */
}

.search-form.icon {
  width: 45px;
  height: 20px;
}

.search-bar input {
    width: 555px;
    height: 45px;
    line-height: 45px;
    padding: 0 62px;
    border: none;
    font-size: 14px;
}

.icon.icon-search {
  background: url('../src/images/searchIcon.png') center/contain no-repeat;
}

.icon {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 24%;
  opacity: 1;
}

input {
  color: #fff;
}


input:focus, textarea:focus, select:focus{
  outline: none;
} 

/* =============================================================================== */
.books-container {
  width: 100%;
  height: 100vh;
  margin-top: 15%;
  text-align: center;
}

.card {
  width: 45%;
  height: 266px;
  margin-left: 2%;
  margin-bottom: 2%;
  border: 1px solid lightgrey;
  border-radius: 5px;
  position: relative;
  transition: all .2s ease-in-out;
  display: inline-block;
  -webkit-box-shadow: 0px 10px 38px -16px rgba(0,0,0,0.62);
  -moz-box-shadow: 0px 10px 38px -16px rgba(0,0,0,0.62);
  box-shadow: 0px 10px 38px -16px rgba(0,0,0,0.62);
  cursor: pointer;
  background-color: rgb(254, 254, 254);
}

.card:hover { 
  -webkit-box-shadow: 0px 10px 66px -16px rgba(0,0,0,0.62);
  -moz-box-shadow: 0px 10px 66px -16px rgba(0,0,0,0.62);
  box-shadow: 0px 10px 66px -16px rgba(0,0,0,0.62); 
  background-color: white;
  border: 1px solid white;
}

.image {
  width: 20%;
  height: 100%;
  display: block;
  position: relative;
  float: left;
}

img {
  bottom: 0;
  left:0;
  width: auto;
  max-width: 144%;
  height: 186px;
  position: absolute;
}

.book-title {
  top: 2%;
  left: 2%;
  height: 10%;
  overflow: hidden;
  padding-right: 2%;
  float: left;
  display: block;
  position: absolute;
  font-size: 20px;
  border-bottom: 1px solid rgb(239, 236, 236);
  text-align: left;
}

.book-author {
  top: 14%;
  left: 2%;
  width: 72%;
  height: 8%;
  overflow: hidden;
  text-align: left;
  display: block;
  position: absolute;
}

.book-description {
  top: 41%;
  left: 31%;
  width: 67%;
  height: 111px;
  overflow: hidden;
  word-wrap: break-word;
  position: absolute;
  text-align: left;
  color: grey;
}

.book-link {
  bottom: 4%;
  left: 31%;
  width: 67%;
  /* height: 111px; */
  overflow: hidden;
  word-wrap: break-word;
  position: absolute;
  text-align: left;
  text-decoration: none;
}

a {
  color: rgba(241, 82, 68, 0.7);
  text-decoration: none; /* no underline */
}

.save-book {
    text-decoration: none;
    width: 11%;
    height: 37px;
    font-size: 18px;
    color: white;   
}

.add-book-button {
    top: 16%;
    right: 3%;
    width: 125px;
    height: 28px;
    padding-top: 6px;
    margin: auto;
    border-radius: 15px;
    background: rgba(241, 82, 68, 0.7);
    cursor: pointer;
    color: white;
    text-align: center;
    position: absolute;
}

.add-book-button:hover {
  background-color: rgba(44, 44, 44, 1);
}
/* =================================================================== */
.saved {
  margin-top: 90px;
  font-size: 22px;
}